
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene {
  width: 320px;
  height: 180px;
  border-radius: 4px;
  transform: scale(0.9);
  transition: transform 0.25s cubic-bezier(0, 0, 1, 1);
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
}

/*
instead of animating a box-shadow (which would require painting on every frame),
animate an existing element (::before), that has already been painted, by
changing its transform and opacity (which the browser optimize)
*/
.scene::before {
  content: '';
  display: block;
  position: absolute;
  left: 10px;
  top: 12px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: #000;
  box-shadow: 0 0 12px 6px #000;
  transition: transform 0.25s cubic-bezier(0, 0, 1, 1), opacity 0.5s cubic-bezier(0, 0, 1, 1);
  opacity: 0.4;
}

.scene img {
  position: relative;
  border-radius: 4px;
}

.scene:hover {
  transform: scale(1);
}

.scene::before:hover {
  transform: translateY(12px);
  opacity: 0.2;
}

.reveal {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  color: #FFF;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 1px #000;
}

.reveal__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal__title-overlay {
  position: absolute;
  overflow: hidden;
  top: calc(50% - 50px);
  /* move left edge 50% of the parent width */
  left: 50%;
  height: 100px;
  width: 400px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(354, 13%, 15%);
  transition: transform 0.25s cubic-bezier(0, 0, 1, 1);
  /* 
  translateX -150% of its own width (removes from the scene) 
  -100% of its own width + -50% to offset the left absolute position
  */
  transform: translateX(-150%) skew(-30deg);
}

.reveal__title-overlay-text {
  width: 100%;
  text-align: center;
  transition: transform 0.25s cubic-bezier(0, 0, 1, 1);
  /* 
  parent has been moved off the left edge, but move the text back
  to the center of the scene (parent hides the overflow)
  30deg skew to offset parent -30deg skew
  */
  transform: translateX(100%) skew(30deg);
}

.scene:hover .reveal__title-overlay {
  /* translateX -50% of its own width (centers on the scene) */
  transform: translateX(-50%) skew(-30deg);
}

.scene:hover .reveal__title-overlay-text {
  transform: skew(30deg);
}