* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

.scene {
  width: 300px;
  height: 200px;
  /* perspective only applies to direct descendant children */
  perspective: 600px;
  margin: 100px auto;
  /* border: 1px solid #ccc; */
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  /* 
  poor anti-aliasing of text with 3d transform when box faces are pushed out
  begin animation with the front facing the viewer
  and push the whole box back (the opposite amount the box face was pushed out) to un-fuzzy the text 
  */
  transform: translateZ(-50px);
  /* allow children to inherit parent’s perspective */
  transform-style: preserve-3d;
  transition: transform 1s;
}

/*
reverse order of box face transforms
keep box pushed back (the opposite amount the box face was pushed out) to un-fuzzy the text, 
then rotate the box toward the viewer
*/
.box.show-front { transform: translateZ(-50px) rotateY(0deg); }
.box.show-back { transform: translateZ(-50px) rotateY(-180deg); }
.box.show-left { transform: translateZ(-150px) rotateY(90deg); }
.box.show-right { transform: translateZ(-150px) rotateY(-90deg); }
.box.show-top { transform: translateZ(-100px) rotateX(-90deg); }
.box.show-bottom { transform: translateZ(-100px) rotateX(90deg); }

.box__face {
  /* stack all the box faces on top of each other */
  position: absolute;
  border: 1px solid black;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.box__face--front, 
.box__face--back {
  width: 300px;
  height: 200px;
  line-height: 200px;
}

.box__face--left,
.box__face--right {
  width: 100px;
  height: 200px;
  left: 100px;
  line-height: 200px;
}

.box__face--top,
.box__face--bottom {
  width: 300px;
  height: 100px;
  top: 50px;
  line-height: 100px;
}

/*
the box is 300px wide, 200px tall, and 100px deep
rotate each face, then push it out from the center of the box
reverse order of box transform
*/
.box__face--front {
  background-color: rgba(0, 0, 255, 0.7);
  transform: rotateY(0deg) translateZ(50px);
}

.box__face--back {
  background-color: rgba(0, 255, 0, 0.7);
  transform: rotateY(180deg) translateZ(50px);
}

.box__face--left {
  background-color: rgba(255, 0, 0, 0.7);
  transform: rotateY(-90deg) translateZ(150px);
}

.box__face--right {
  background-color: rgba(255, 255, 0, 0.7);
  transform: rotateY(90deg) translateZ(150px);
}

.box__face--top {
  background-color: rgba(255, 0, 255, 0.7);
  transform: rotateX(90deg) translateZ(100px);
}

.box__face--bottom {
  background-color: rgba(0, 255, 255, 0.7);
  transform: rotateX(-90deg) translateZ(100px);
}

.radio-group {
  display: flex;
  justify-content: center;
}