
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  color: #222;
  text-align: center;
}

.scene {
  width: 200px;
  height: 260px;
  /* perspective only applies to direct descendant children */
  perspective: 600px;
  margin: 100px auto;
  border: 1px solid #ccc;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  /* allow children to inherit parent’s perspective */
  transform-style: preserve-3d;
  /* flip card at the right edge*/
  transform-origin: right center;
}

.card.is-flipped {
  /* 
  card is flipped from the right edge
  move it left back to the original position
  */
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  width: 100%;
  height: 100%;
  /* stack the card faces on top of each other */
  position: absolute;
  /* hide the back side of the card when facing away */
  backface-visibility: hidden;
  cursor: pointer;
  line-height: 260px;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}

.card__face--front {
  background-color: green;
}

.card__face--back {
  background-color: blue;
  /* position the back card face away */
  transform: rotateY(180deg);
}
