* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

.scene {
  width: 200px;
  height: 200px;
  /* perspective only applies to direct descendant children */
  perspective: 600px;
  margin: 100px auto;
  /* border: 1px solid #ccc; */
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  /* 
  poor anti-aliasing of text with 3d transform when cube faces are pushed out
  begin animation with the front facing the viewer
  and push the whole cube back (the opposite amount the cube face was pushed out) to un-fuzzy the text 
  */
  transform: translateZ(-100px); 
  /* allow children to inherit parent’s perspective */ 
  transform-style: preserve-3d;
  transition: transform 1s;
}

/*
reverse order of cube face transforms
keep cube pushed back (the opposite amount the cube face was pushed out) to un-fuzzy the text, 
then rotate the cube toward the viewer
*/
.cube.show-front { transform: translateZ(-100px) rotateY(0deg); }
.cube.show-back { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left { transform: translateZ(-100px) rotateY(90deg); }
.cube.show-right { transform: translateZ(-100px) rotateY(-90deg); }
.cube.show-top { transform: translateZ(-100px) rotateX(-90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(90deg); }

.cube__face {
  width: 100%;
  height: 100%;
  /* stack all the cube faces on top of each other */
  position: absolute;
  border: 1px solid black;
  line-height: 200px;
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}

/*
the cube is 200px wide, 200px tall, and 200px deep
rotate each face, then push it out 100px from the center of the cube
reverse order of cube transform
*/
.cube__face--front {
  background-color: rgba(0, 0, 255, 0.7);
  transform: rotateY(0deg) translateZ(100px);
}

.cube__face--back {
  background-color: rgba(0, 255, 0, 0.7);
  transform: rotateY(180deg) translateZ(100px);
}

.cube__face--left {
  background-color: rgba(255, 0, 0, 0.7);
  transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--right {
  background-color: rgba(255, 255, 0, 0.7);
  transform: rotateY(90deg) translateZ(100px);
}

.cube__face--top {
  background-color: rgba(255, 0, 255, 0.7);
  transform: rotateX(90deg) translateZ(100px);
}

.cube__face--bottom {
  background-color: rgba(0, 255, 255, 0.7);
  transform: rotateX(-90deg) translateZ(100px);
}

.radio-group {
  display: flex;
  justify-content: center;
}