* {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: sans-serif;
}

.scene {
  width: 210px;
  height: 140px;
  perspective: 1000px;
  margin: 200px auto;
  /* border: 1px solid #eee; */
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__face {
  width: 190px;
  height: 120px;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid #000;
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  line-height: 120px;
  transition: transform 1s, opacity 1s;
}

.carousel-options {
  position: fixed;
  top: 0;
  right: 0;
  padding: 25px 50px;
}

.radio-option {
  padding: 25px 0;
}

.button-option__prev,
.button-option__next {
  width: 49%;
  background-color: inherit;
  border: 1px solid #000;
  outline: none;
  padding: 15px;
  font-size: 1em;
  cursor: pointer;
}